/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 400px) {
  body {
    background-color: #1B1D20;
    font-family: "Inter","sans-serif";
  }
  header {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container {
    width: 90%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .head-name h1 {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
  }
  header .container .head-btns {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .head-btns .share {
    width: 38px;
    height: 38px;
    background-color: #0F1116;
    text-align: center;
    border-radius: 12px;
  }
  header .container .head-btns .share:hover {
    cursor: pointer;
  }
  header .container .head-btns .share i {
    color: #fff;
    margin-top: 12px;
  }
  header .container .head-btns .bulb {
    width: 38px;
    height: 38px;
    background-color: #0F1116;
    text-align: center;
    border-radius: 12px;
  }
  header .container .head-btns .bulb:hover {
    cursor: pointer;
  }
  header .container .head-btns .bulb i {
    color: #fff;
    margin-top: 12px;
  }
  header .container .head-btns .bulb i {
    color: #EDBD5A;
  }
  header .container .head-btns .bars {
    width: 38px;
    height: 38px;
    background-color: #0F1116;
    text-align: center;
    border-radius: 12px;
  }
  header .container .head-btns .bars:hover {
    cursor: pointer;
  }
  header .container .head-btns .bars i {
    color: #fff;
    margin-top: 12px;
  }
  .imgs {
    width: 100%;
    height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imgs .container {
    width: 90%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imgs .container .left-img {
    width: 47%;
    height: 250px;
    background-image: url(../img/6.jpeg);
    background-size: cover;
    border-radius: 20px;
  }
  .imgs .container .left-img h4 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 130%;
  }
  .imgs .container .right-img {
    width: 47%;
    height: 250px;
    background-image: url(../img/19.jpeg);
    background-size: 100% 250px;
    border-radius: 20px;
  }
  .imgs .container .right-img h4 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 130%;
  }
  .sol {
    width: 100%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sol .container {
    width: 90%;
    height: 170px;
    background-color: #0F1116;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sol .container .top {
    width: 85%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sol .container .top .top-left p {
    font-size: 13px;
    font-weight: bold;
    color: #4a89dc;
  }
  .sol .container .top .top-left h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  .sol .container .top .top-right i {
    color: #EDBD5A;
    font-size: 30px;
  }
  .sol .container .bot p {
    font-size: 13px;
    color: #898989;
    line-height: 20px;
    margin-top: 20px;
  }
  .options {
    width: 100%;
    height: 690px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .options .container {
    width: 95%;
    height: 680px;
    background-color: #0F1116;
    border-radius: 20px;
  }
  .options .container .top {
    width: 100%;
    height: 190px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 0.2px solid #302f2f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .options .container .top .top-left img {
    border-radius: 10px;
  }
  .options .container .top .top-right p {
    font-size: 13px;
    color: #898989;
    line-height: 20px;
  }
  .options .container .top .top-right .blue {
    color: #4a89dc;
    font-weight: bold;
  }
  .options .container .top .top-right h2 {
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }
  .options .container .top .top-right button {
    width: 85px;
    height: 40px;
    background-color: #5F88CD;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
  }
  .options .container .mid {
    width: 100%;
    height: 190px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 0.2px solid #302f2f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .options .container .mid .mid-left img {
    border-radius: 10px;
  }
  .options .container .mid .mid-right p {
    font-size: 13px;
    color: #898989;
    line-height: 20px;
  }
  .options .container .mid .mid-right .blue {
    color: #4a89dc;
    font-weight: bold;
  }
  .options .container .mid .mid-right h2 {
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }
  .options .container .mid .mid-right button {
    width: 85px;
    height: 40px;
    background-color: #5F88CD;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
  }
  .options .container .bot {
    width: 100%;
    height: 190px;
    margin-top: 20px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .options .container .bot .bot-left img {
    border-radius: 10px;
  }
  .options .container .bot .bot-right p {
    font-size: 13px;
    color: #898989;
    line-height: 20px;
  }
  .options .container .bot .bot-right .blue {
    color: #4a89dc;
    font-weight: bold;
  }
  .options .container .bot .bot-right h2 {
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }
  .options .container .bot .bot-right button {
    width: 85px;
    height: 40px;
    background-color: #5F88CD;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
  }
  .services {
    width: 100%;
    height: 190px;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services .container {
    width: 90%;
    height: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services .container .home {
    width: 160px;
    height: 125px;
    background-color: #0F1116;
    border-radius: 20px;
  }
  .services .container .home .home-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
  .services .container .home .home-top i {
    font-size: 40px;
  }
  .services .container .home .home-top h5 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
  .services .container .home .home-top i {
    color: #ABD376;
  }
  .services .container .home .home-bot p {
    font-size: 13px;
    color: #898989;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .services .container .setting {
    width: 160px;
    height: 150px;
    background-color: #0F1116;
    border-radius: 20px;
  }
  .services .container .setting .setting-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
  .services .container .setting .setting-top i {
    font-size: 40px;
  }
  .services .container .setting .setting-top h5 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
  .services .container .setting .setting-top i {
    color: #5987D6;
  }
  .services .container .setting .setting-bot p {
    font-size: 13px;
    color: #898989;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .mode {
    width: 100%;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mode .container {
    background-color: #0F1116;
    width: 90%;
    height: 64px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mode .container .icon i {
    color: #EDBD5A;
    font-size: 30px;
  }
  .mode .container .info p {
    font-size: 13px;
    color: #4a89dc;
    margin-bottom: 5px;
  }
  .mode .container .info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
  }
  .mode .container .input {
    /* Rounded sliders */
  }
  .mode .container .input .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .mode .container .input .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .mode .container .input .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .mode .container .input .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .mode .container .input input:checked + .slider {
    background-color: #97C061;
  }
  .mode .container .input input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
            box-shadow: 0 0 1px #2196F3;
  }
  .mode .container .input input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
  }
  .mode .container .input .slider.round {
    border-radius: 34px;
  }
  .mode .container .input .slider.round:before {
    border-radius: 50%;
  }
  .foot {
    width: 100%;
    height: 250px;
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot .container {
    width: 90%;
    height: 260px;
    border-radius: 20px;
    background-color: #0F1116;
  }
  .foot .container .foot-content h2 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .foot .container .foot-content p {
    font-size: 13px;
    color: #898989;
    text-align: center;
  }
  .foot .container .foot-contact {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    border-bottom: 0.1px solid #363535;
  }
  .foot .container .foot-contact .contct-container {
    width: 58%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot .container .foot-contact .contct-container .facebook {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 10px;
    background-color: #425893;
  }
  .foot .container .foot-contact .contct-container .facebook i {
    margin-top: 10px;
    margin-left: 14px;
  }
  .foot .container .foot-contact .contct-container .twitter {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 10px;
    background-color: #5997F7;
  }
  .foot .container .foot-contact .contct-container .twitter i {
    margin-top: 12px;
    margin-left: 13px;
  }
  .foot .container .foot-contact .contct-container .tel {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 10px;
    background-color: #54AB68;
  }
  .foot .container .foot-contact .contct-container .tel i {
    margin-top: 12px;
    margin-left: 11px;
  }
  .foot .container .foot-contact .contct-container .share {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 10px;
    background-color: #C74E56;
  }
  .foot .container .foot-contact .contct-container .share i {
    margin-top: 12px;
    margin-left: 11px;
  }
  .foot .container .foot-contact .contct-container .up {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 10px;
    background-color: #5987D6;
  }
  .foot .container .foot-contact .contct-container .up i {
    margin-top: 12px;
    margin-left: 12px;
  }
  .foot .container .foot-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot .container .foot-links .container {
    width: 90%;
    height: 50px;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot .container .foot-links .container a {
    text-decoration: none;
    font-size: 11px;
    color: #2B5BCB;
  }
}
/*# sourceMappingURL=style.css.map */