/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 400px) {
  body {
    font-family: "Inter","sans-serif";
    background-color: #1B1D21;
  }
  header {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container {
    width: 90%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .head-name h1 {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
  }
  header .container .head-btns {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .head-btns .share {
    width: 38px;
    height: 38px;
    background-color: #0F1116;
    text-align: center;
    border-radius: 12px;
  }
  header .container .head-btns .share:hover {
    cursor: pointer;
  }
  header .container .head-btns .share i {
    color: #fff;
    margin-top: 12px;
  }
  header .container .head-btns .bulb {
    width: 38px;
    height: 38px;
    background-color: #0F1116;
    text-align: center;
    border-radius: 12px;
  }
  header .container .head-btns .bulb:hover {
    cursor: pointer;
  }
  header .container .head-btns .bulb i {
    color: #fff;
    margin-top: 12px;
  }
  header .container .head-btns .bulb i {
    color: #EDBD5A;
  }
  header .container .head-btns .bars {
    width: 38px;
    height: 38px;
    background-color: #0F1116;
    text-align: center;
    border-radius: 12px;
  }
  header .container .head-btns .bars:hover {
    cursor: pointer;
  }
  header .container .head-btns .bars i {
    color: #fff;
    margin-top: 12px;
  }
  .img-info {
    width: 100%;
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img-info .container {
    background-color: #0F1116;
    border-radius: 20px;
    width: 90%;
    height: 310px;
  }
  .img-info .container .img {
    width: 100%;
    height: 150px;
  }
  .img-info .container .img img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .img-info .container .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img-info .container .info .container {
    width: 95%;
    height: 150px;
    margin-top: 10px;
  }
  .img-info .container .info .container h6 {
    font-size: 13px;
    color: #4a89dc;
    line-height: 20px;
  }
  .img-info .container .info .container h2 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .img-info .container .info .container p {
    font-size: 13px;
    color: #898989;
    line-height: 25px;
  }
  .services {
    width: 100%;
    height: 470px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services .container {
    background-color: #0F1116;
    width: 90%;
    height: 460px;
    border-radius: 20px;
  }
  .services .container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-decoration: none;
  }
  .services .container a:hover {
    cursor: pointer;
  }
  .services .container a .service1 {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.2px solid #302f2f;
  }
  .services .container a .service1 .icon-service1 {
    background-color: #CF545C;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    text-align: center;
  }
  .services .container a .service1 .icon-service1 i {
    margin-top: 8px;
    color: #fff;
  }
  .services .container a .service1 .content-service1 h5 {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
  }
  .services .container a .service1 .content-service1 h6 {
    font-size: 11px;
    color: #ADB5BD;
  }
  .services .container a .service1 .arrow-service1 i {
    font-size: 10px;
    color: #fff;
  }
  .services .container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-decoration: none;
  }
  .services .container a:hover {
    cursor: pointer;
  }
  .services .container a .service2 {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.2px solid #302f2f;
  }
  .services .container a .service2 .icon-service2 {
    background-color: #A4CC6E;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    text-align: center;
  }
  .services .container a .service2 .icon-service2 i {
    margin-top: 8px;
    color: #fff;
  }
  .services .container a .service2 .content-service2 h5 {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
  }
  .services .container a .service2 .content-service2 h6 {
    font-size: 11px;
    color: #ADB5BD;
  }
  .services .container a .service2 .arrow-service2 i {
    font-size: 10px;
    color: #fff;
  }
  .services .container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-decoration: none;
  }
  .services .container a:hover {
    cursor: pointer;
  }
  .services .container a .service3 {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.2px solid #302f2f;
  }
  .services .container a .service3 .icon-service3 {
    background-color: #6392DE;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    text-align: center;
  }
  .services .container a .service3 .icon-service3 i {
    margin-top: 8px;
    color: #fff;
  }
  .services .container a .service3 .content-service3 h5 {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
  }
  .services .container a .service3 .content-service3 h6 {
    font-size: 11px;
    color: #ADB5BD;
  }
  .services .container a .service3 .arrow-service3 i {
    font-size: 10px;
    color: #fff;
  }
  .services .container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-decoration: none;
  }
  .services .container a:hover {
    cursor: pointer;
  }
  .services .container a .service4 {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.2px solid #302f2f;
  }
  .services .container a .service4 .icon-service4 {
    background-color: #AA9475;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    text-align: center;
  }
  .services .container a .service4 .icon-service4 i {
    margin-top: 8px;
    color: #fff;
  }
  .services .container a .service4 .content-service4 h5 {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
  }
  .services .container a .service4 .content-service4 h6 {
    font-size: 11px;
    color: #ADB5BD;
  }
  .services .container a .service4 .span-service4 {
    font-size: 10px;
    color: #fff;
    background-color: #5987D6;
    width: 38.25px;
    height: 15px;
    text-align: center;
    padding-top: 7px;
    border-radius: 5px;
  }
  .services .container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-decoration: none;
  }
  .services .container a:hover {
    cursor: pointer;
  }
  .services .container a .service5 {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.2px solid #302f2f;
  }
  .services .container a .service5 .icon-service5 {
    background-color: #9B85DC;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    text-align: center;
  }
  .services .container a .service5 .icon-service5 i {
    margin-top: 8px;
    color: #fff;
  }
  .services .container a .service5 .content-service5 h5 {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
  }
  .services .container a .service5 .content-service5 h6 {
    font-size: 11px;
    color: #ADB5BD;
  }
  .services .container a .service5 .span-service5 {
    font-size: 10px;
    color: #fff;
    background-color: #5987D6;
    width: 38.25px;
    height: 15px;
    text-align: center;
    padding-top: 7px;
    border-radius: 5px;
  }
  .services .container .note-services p {
    font-size: 11px;
    color: #898989;
    margin-left: 10px;
    line-height: 20px;
  }
  .services .container .note-services p span {
    color: #43639C;
  }
  .services .container .note-services p i {
    color: #5C7441;
  }
  .components {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .components .container {
    width: 90%;
    height: 80px;
    background-color: #0F1116;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .components .container .title p {
    font-size: 13px;
    color: #4a89dc;
    font-weight: bold;
  }
  .components .container .title h3 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
  }
  .components .container .btn button {
    width: 62.13px;
    height: 34px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #618FDD;
    border-radius: 10px;
    border: none;
  }
  .feedback {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback .container {
    width: 90%;
    height: 270px;
    background-color: #0F1116;
    border-radius: 20px;
  }
  .feedback .container h5 {
    color: #5987D6;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .feedback .container h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .feedback .container p {
    font-size: 13px;
    color: #898989;
    line-height: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
  .feedback .container button {
    width: 320px;
    height: 44px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #618fdd;
    margin-left: 25px;
    border: none;
    border-radius: 15px;
  }
  .feedback .container .i {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
  }
  .foot {
    width: 100%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot .container {
    width: 90%;
    height: 260px;
    border-radius: 20px;
    background-color: #0F1116;
  }
  .foot .container .foot-content h2 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .foot .container .foot-content p {
    font-size: 13px;
    color: #898989;
    text-align: center;
  }
  .foot .container .foot-contact {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    border-bottom: 0.1px solid #363535;
  }
  .foot .container .foot-contact .contct-container {
    width: 58%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot .container .foot-contact .contct-container .facebook {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 10px;
    background-color: #425893;
  }
  .foot .container .foot-contact .contct-container .facebook i {
    margin-top: 10px;
    margin-left: 14px;
  }
  .foot .container .foot-contact .contct-container .twitter {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 10px;
    background-color: #5997F7;
  }
  .foot .container .foot-contact .contct-container .twitter i {
    margin-top: 12px;
    margin-left: 13px;
  }
  .foot .container .foot-contact .contct-container .tel {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 10px;
    background-color: #54AB68;
  }
  .foot .container .foot-contact .contct-container .tel i {
    margin-top: 12px;
    margin-left: 11px;
  }
  .foot .container .foot-contact .contct-container .share {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 10px;
    background-color: #C74E56;
  }
  .foot .container .foot-contact .contct-container .share i {
    margin-top: 12px;
    margin-left: 11px;
  }
  .foot .container .foot-contact .contct-container .up {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 10px;
    background-color: #5987D6;
  }
  .foot .container .foot-contact .contct-container .up i {
    margin-top: 12px;
    margin-left: 12px;
  }
  .foot .container .foot-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot .container .foot-links .container {
    width: 90%;
    height: 50px;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot .container .foot-links .container a {
    text-decoration: none;
    font-size: 11px;
    color: #2B5BCB;
  }
}
/*# sourceMappingURL=style.css.map */